/*****************************************************/
/* GENERAL */
:root {
    --color-01: #27374D;
    --color-02: #526D82;
    --color-03: #9DB2BF;
    --color-04: #DDE6ED;

    font-family: monospace;

    --font-size-title-01: 35px;
    --font-size-title-02: 30px;
    --font-size-body: 18px;
}

::selection {
    color: var(--color-04);
    background: var(--color-02);
}

body {
    background-color: var(--color-04);
    color: var(--color-01);
    margin: 0px;
    position: relative;
    padding-bottom: 15em;
    min-height: 80vh;
}

h1 {
    font-size: var(--font-size-title-01);
    text-align: center;
}

h2 {
    font-size: var(--font-size-title-02);
    text-align: center;
}

p {
    font-size: var(--font-size-body);
    padding: 10px;
    margin: 20px;
    text-align: center;
}

/*****************************************************/

@media(max-width:600px) {
    .column {
        flex: 100%;
    }
}

header {
    background-color: var(--color-01);
    color: var(--color-04);
    text-align: center;
    padding: 20px;
}

/*****************************************************/
/* NAVBAR */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: var(--color-04);
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    color: var(--color-03);
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: var(--color-01);
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
    font-size: var(--font-size-title-02);
}

li>a {
    list-style-type: none;
    color: var(--color-04);
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
}

.button-menu-toggle {
    display: none;
}

.container {
    margin: 0px 40px 0px 40px;
}

a:visited {
    color: var(--color-04);
}

/*****************************************************/
/*FOOTER*/
.container-footer {
    /* display: flex; */
    height: 150px;
    background-color: var(--color-01);
    padding: 1em 0;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    font-size: var(--font-size-body);
}

.footer-content {

    color: var(--color-04);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.footer-content a {
    padding: 12px;
    margin: 0px;
    text-decoration: none;
    color: var(--color-04);
}

.footer-info p {
    margin: 0px;
}

.footer-content a:visited {
    color: var(--color-04);
}

.footer-content a:hover {
    color: var(--color-03);
}


.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-redes .one,
.footer-redes .two,
.footer-redes .three {
    /* margin-top: 10px;
    margin-bottom: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-redes {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

/*****************************************************/

/*****************************************************/
/*MEDIAS*/
@media (max-width: 767px) {
    nav {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    header {
        width: 1200px;
    }
}

@media (max-width:768px) {
    .column {
        flex: 100%;
    }

    .nav-links {
        display: none;
    }

    .button-menu-toggle {
        display: block;
        background-color: var(--color-04);
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }

    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: var(--color-01);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;
    }

    .container {
        margin: 0px;
    }
}

/*****************************************************/

/*****************************************************/
/*Images mypath.html*/
.imagenes-mypath {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px 40px 20px 40px;
    overflow: hidden;
    flex-shrink: inherit;
}

.imagenes-mypath img {
    width: auto;
    height: auto;
}

/*****************************************************/


/*****************************************************/
/*Form contact.html*/

.myForm {
    font-size: var(--font-size-body);
    padding: 10px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myForm button {
    /* Color del texo */
    color: var(--color-02);
    /* Grosor del borde, estilo de línea y color */
    border: 2px solid var(--color-02);
    /* Añadir esquinas curvadas */
    border-radius: 6px;
    /* Poner texto en mayúsculas */
    border: none;
    color: var(--color-04);
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: var(--font-size-body);
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    font-family: monospace;
}

.myForm button {
    background-color: transparent;
    color: var(--color-02);
    border: 2px solid var(--color-02);
}

/* Al poner el curso encima (hover) */

.myForm button:hover {
    background-color: var(--color-02);
    color: white;
}

.myForm #input {
    padding: 10px 16px;
    margin: 12px 2px;
    border: 2px solid var(--color-02);
    border-radius: 6px;
    width: 50%;
    font-family: monospace;
}

#correo {
    display: none;
}


/*****************************************************/
/*EFECTO TITULO HOME*/
.wrapper {
    margin: 0 50rem;
    align-items: center;

}

.wrapper h1 {
    display: block;
    white-space: nowrap;
    border-right: 4px solid var(--color-01);
    width: 25ch;
    animation: typing 2s steps(25),
        blink .5s infinite step-end alternate;
    overflow: hidden;
}

.container section {
    margin: 0rem 20rem;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

/*****************************************************/
/*IFRAME del HOME*/
.wrapper-iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*****************************************************/
/* FADE IN */
.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*****************************************************/
/* TIMELINE */

.timeline-container {
    display: block;
    height: 1864px;
    /* #crotada */
}

#timeline {
    content: '';
    position: absolute;
    background: var(--color-01);
    width: 5px;
    left: 50%;
    padding-top: 70px;
}

.child {
    position: relative;
    margin: 20px;
    /* opacity: 0; */
}

/* IMPARES */
.child:nth-child(odd) {
    float: left;
    border-radius: 0px 20px 20px 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid var(--color-01);
    /* rgba(255, 255, 255, 0.3) */
}

.child:nth-child(odd) p {
    text-align: left;
}

.child:nth-child(odd)::before {
    content: '';
    position: absolute;
    background: var(--color-01);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: -30px;
}

.child:nth-child(odd)::after {
    content: '';
    position: absolute;
    background: var(--color-01);
    width: 10px;
    height: 2px;
    left: -10px;
    top: 10px;
}

/* PARES */
.child:nth-child(even) {
    float: right;
    border-radius: 20px 0px 20px 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid var(--color-01);
    /*rgba(255, 255, 255, 0.3);*/
}

.child:nth-child(even) p {
    text-align: right;
}

.child:nth-child(even)::before {
    content: '';
    position: absolute;
    background: var(--color-01);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: -30px;
}

.child:nth-child(even)::after {
    content: '';
    position: absolute;
    background: var(--color-01);
    width: 10px;
    height: 2px;
    right: -10px;
    top: 10px;
}

.content {
    width: 400px;
    padding: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    color: var(--color-01);
    /* background: rgb(255,255,255,0.2); */
}

.child:nth-child(odd) .content {
    border-radius: 0px 16px 16px 16px;
}

.child:nth-child(even) .content {
    border-radius: 16px 0px 16px 16px;
}

.content p {
    margin: 0px;
}

/* ANIMACION TIMELINE */
/* .show {
    opacity: 1;
    animation: __show 1s cubic-bezier(.99,-.7,.2,1.9);
}
.hide {
    opacity: 0;
    animation: __hide 1s cubic-bezier(.99,-.7,.2,1.9);
}

@keyframes __show {
    0% { transform: translateY(500px); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}

@keyframes __hide {
    0% { transform: translateY(0); opacity: 1;}
    100% { transform: translateY(500px); opacity: 0;}
} */

/*****************************************************/

.container-cv {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*****************************************************/