/* GENERAL */
:root {
    --color-01 : #27374D ;
    --color-02 : #526D82 ;
    --color-03 : #9DB2BF ;
    --color-04 : #DDE6ED ;

    font-family: monospace;

    --font-size-title-01: 35px;
    --font-size-title-02: 30px;
    --font-size-body: 18px;
}

/* body{
    background: black url("https://media.elancasti.com.ar/p/68616a98de89632b2fdd03b373c52a9a/adjuntos/325/imagenes/000/261/0000261840/1200x675/smart/messi-copa-del-mundo-2022webp.png") center fixed no-repeat;
    background-repeat: no-repeat;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
} */

.timeline-container {
    
}

#timeline{
    content: '';
    position: absolute;
    background: black;
    width: 5px;
    left: 50%;
}
.child{
    position: relative;
    margin: 20px;
}

/* IMPARES */
.child:nth-child(odd){
    float: left;
    border-radius: 0px 20px 20px 20px;
    text-align: left;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.child:nth-child(odd)::before{
    content: '';
    position: absolute;
    background: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: -30px;
}
.child:nth-child(odd)::after{
    content: '';
    position: absolute;
    background: white;
    width: 10px;
    height: 2px;
    left: -10px;
    top: 10px;
}

/* PARES */
.child:nth-child(even){
    float: right;
    border-radius: 20px 0px 20px 20px;
    text-align: right;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.child:nth-child(even)::before{
    content: '';
    position: absolute;
    background: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: -30px;
}
.child:nth-child(even)::after{
    content: '';
    position: absolute;
    background: white;
    width: 10px;
    height: 2px;
    right: -10px;
    top: 10px;
}
.content{
    width: 200px;
    padding: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    color: black;
    /* background: rgb(255,255,255,0.2); */
}

.child:nth-child(odd) .content{
    border-radius: 0px 16px 16px 16px;
}

.child:nth-child(even) .content{
    border-radius: 16px 0px 16px 16px;
}